.featuresList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
  width: 430px;
}

.featureItem {
  border-radius: 100px;
  padding: 10px 16px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
  display: flex;
  gap: 8px;
}
